/* Container */
.repeater-container {
    margin-bottom: 8px;
}

/* Group */
.repeater-group {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    width: 100%;
}

.repeater-group__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.repeater-group__hr {
    border: 0;
    border-top: 1px solid #e3e3e3;
    margin: 8px 0;
    margin-top: 10px;
}

/* Label */
.repeater-group__label {
    box-sizing: border-box;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3.2rem;
    hyphens: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: nowrap;
    text-align: left;
    padding: 0;
    margin: 0;
}

.repeater-group__label span {
    line-height: 1.2;
    white-space: normal;
}

.repeater-group__label::before {
    opacity: 0;
    visibility: hidden;
    content: '.';
    margin-left: -7px;
    overflow: hidden;
}

/* Field */
.repeater-group__field {
    position: relative;
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.repeater-group__label span {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    line-height: 1.2;
    white-space: normal;
}

.repeater-group > .required .repeater-group__label span::after,
.repeater-group > ._required .repeater-group__label span::after {
    color: #e22626;
    content: '*';
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}
/* Actions */
.repeater-group__remove {
    color: #e22626;
    padding: 4px 8px;
}

.repeater-add {
    margin-bottom: 8px;
}

.repeater-group > .field {
    margin-bottom: 0 !important;
}

.repeater-group > .field:not(:last-child) {
    margin-block-end: calc(0.25rem * 3) !important;
}
